/*样式初始化*/
* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}

/*
双伪元素清除法
	1.清除浮动
	2.margin的塌陷现象
*/
.clearfix::before,
.clearfix::after {
	content: '';
	display: table;
}
.clearfix::after {
	clear: both;
}
/*兼容性*/
.clearfix {
	*zoom:1;
}
.fl {
	float: left;
}
.fr {
	float: right;
}

/*版心*/
.w {
	width: 1226px;
	margin: 0px auto;
}

body {
	height: 2000px;
}
/*----------------------------------top样式*/
.top {
	height: 40px;
	background-color: #333333;
}
.top ul {
	height: 40px;
}
.top ul li {
	height: 40px;
	float: left;
	line-height: 40px;
	font-size: 12px;
	color: #40403b;
}
.top ul li .one {
	padding-left: 0px;
}
.top ul li a {
	color: #b0b0b0;
	font-size: 12px;
	padding: 0px 10px;
}

/*----------------------------------nav样式*/
.nav {
	height: 78px;
	margin-top: 22px;
}
.nav .logo {
	width: 55px;
	height: 55px;
	background: url(images/logo.jpg);
	background-size: 55px 55px;
}
.nav .logoright {
	width: 163px;
	height: 66px;
	background: url(images/logo-right.jpg);
	margin-left: 13px;
	background-size: 163px 66px;
}
.nav ul {
	float: left;
	padding-left: 16px;
}
.nav ul li {
	float: left;
	height: 56px;
	line-height: 56px;
}
.nav ul li a {
	color: #000000;
	font-size: 16px;
	padding-right: 26px;
}

/*----------------------------------banner样式*/
.banner {
	height: 460px;
}
.banner ul {
	background-color: #2c505f;
	width: 235px;
	height: 460px;
	padding: 33px 24px 0 30px;
	box-sizing: border-box;
	float: left;
}
.banner ul li {
	height: 42px;
	background: url(images/jiantou-right.png) no-repeat right top;
}
.banner ul li a {
	color: #fff;
	font-size: 12px;
}
.banner .right {
	width: 991px;
	height: 460px;
	background: url(images/banner.png) no-repeat;
	float: left;
}

/*----------------------------------pro样式*/
.pro {
	height: 170px;
	margin-top: 14px;
}
.pro .left {
	width: 234px;
	height: 170px;
	background-color: #5f5750;
}
.pro .left p {
	color: #ffffff;
	margin-right: 53px;
	text-align: right;
}
.pro .left p:first-child {
	margin-top: 56px;
	height: 38px;
}
.pro .pro1 {
	width: 317px;
	height: 170px;
	background: url(images/pro1.png);
	background-size: 317px 170px;
	margin-left: 14px;
}
.pro .pro2 {
	width: 317px;
	height: 170px;
	background: url(images/pro2.png);
	background-size: 317px 170px;
	margin-left: 15px;
}
.pro .pro3 {
	width: 317px;
	height: 170px;
	background: url(images/pro3.png);
	background-size: 317px 170px;
}

/*----------------------------------main top样式*/
.main {
	height: 799px;
	background-color: #f5f5f5;
	margin-top: 66px;
}
.main .content {
	height: 799px;
	padding-top: 79px;
	box-sizing: border-box;
}
.main .content .ctop {
	height: 40px;
	font-size: 22px;
}
.main .content .ctop a {
	float: right;
	color: #000;
	font-size: 16px;
	margin-right: 28px;
}

/*----------------------------------main left样式*/
.main .content .cbottom {
	height: 614px;
	background-color: pink;
}
.main .content .cbottom .cleft {
	width: 234px;
	height: 614px;
	background: url(images/main_left.png);
}
.main .content .cbottom .cright {
	width: 978px;
	height: 614px;
	background-color: hotpink;
}
.main .content .cbottom .cright div {
	width: 234px;
	height: 300px;
}
.main .content .cbottom .cright .cpro1 {
	background: url(images/main1.png);
}
.main .content .cbottom .cright .cpro2 {
	background: url(images/main2.png);
	margin-left: 14px;
	background-size: 234px 300px;
}
.main .content .cbottom .cright .cpro3 {
	background: url(images/main3.png);
	margin-left: 14px;
	background-size: 234px 300px;
}
.main .content .cbottom .cright .cpro4 {
	background: url(images/main4.png);
	background-size: 234px 300px;
}
.main .content .cbottom .cright .cpro5 {
	background: url(images/main4.png);
	background-size: 234px 300px;
	margin-top: 14px;
}
.main .content .cbottom .cright .cpro6 {
	background: url(images/main3.png);
	background-size: 234px 300px;
	margin-left: 14px;
	margin-top: 14px;
}
.main .content .cbottom .cright .cpro7 {
	background: url(images/main1.png);
	background-size: 234px 300px;
	margin-left: 14px;
	margin-top: 14px;
}
.main .content .cbottom .cright .cpro8 {
	background: url(images/main4.png);
	background-size: 234px 300px;
	margin-top: 14px;
}