/*----------------------------------top*/
.top {
	height: 31px;
	background-color: #f1f1f1;
}
.top .content .left {
	width: 200px;
	height: 31px;
	line-height: 31px;
}
.top .content .left a {
	padding-left: 5px;
	color: #bc1b23;
}
.top .content ul {
	height: 31px;
}
.top .content ul li {
	height: 31px;
	float: left;
	line-height: 31px;
}
.top .content ul li a {
	padding-right: 16px;
	padding-left: 16px;
}
.top .content ul li .last {
	padding-right: 0px;
}
.top .content ul li .icon-jiantou-copy-copy {
	font-size: 12px;
	padding-left: 10px;
}
/*body {
	height: 3000px;
}*/

/*----------------------------------search*/
.search {
	height: 80px;
	/*ps*/
	/*background-color: pink;*/
	margin-top: 26px;
}
.search .logo {
	width: 173px;
	height: 56px;
	background: url(../images/logo.png) no-repeat left top;
	background-size: 173px 56px;
}
.search .text {
	width: 50%;
	height: 50%;
	border: red;
	outline-style: red;
}
.search .button {
	width: 50px;
	height: 50%;
	border: red;
	outline-style: red;
}
.search .cart {
	width: 140px;
	height: 36px;
	background-color: #f6f6f6;
	border: 1px solid #dbdbdb;
	margin-right: 63px;
	line-height: 36px;
	text-align: center;
	position: relative;
}
.search .cart .icon-cart {
	color: red;
	font-weight: 700;
	font-size: 14px;
}
.search .cart .icon-jiantou {
	font-size: 12px;
	margin-left: 8px;
}
/*购物车的消息数量*/
.search .cart .num {
	/*width: 40px;*/
	min-width: 16px;
	height: 16px;
	background-color: #df071e;
	border-radius: 6px 6px 6px 0px;
	position: absolute;
	top: -8px;
	left: 100px;
	color: #fff;
	line-height: 16px;
}
/*购物车的haver效果*/
.search .cart .h {
	width: 200px;
	height: 100px;
	background-color: #f6f6f6;
	border: 1px solid #dbdbdb;
	position: absolute;
	right: -1px;
	top: 36px;
	display: none;
}
.search .cart .h .line {
	width: 140px;
	height: 1px;
	background-color: #f6f6f6;
	position: absolute;
	top: -1px;
	right: 0px;
}
.search .cart:hover .h {
	display: block;
}
/*搜索框*/
.search .center input[type="text"] {
	width: 458px;
	height: 36px;
	border: 2px solid #aa121e;
	box-sizing: border-box;
	padding-left: 10px;
}
.search .center input[type="button"] {
	width: 80px;
	height: 36px;
	border: 2px;
	background-color: #aa121e;
	color: #fff;
	font-size: 16pxl
}
.search .center {
	/*text-align: center;*/
	padding-left: 347px;
}
/*搜索下方的文字*/
.search .center ul {
	padding-top: 8px;
}
.search .center ul li {
	float: left;
}
.search .center ul li a {
	padding: 0px 12px;
}
.search .center ul li .one {
	color: red;
}

/*----------------------------------nav*/
.nav {
	height: 45px;
	border-bottom: 2px solid #b1181a;
	/*ps*/
	/*background-color: deeppink;*/
}
.nav .content {
	height: 45px;
	/*ps*/
	/*background-color: skyblue;*/
}
.nav .content .all {
	width: 209px;
	height: 45px;
	background-color: #b1181a;
	font-size: 16px;
	color: #fff;
	text-align: center;
	line-height: 45px;
	float: left;
}
.nav .content ul li {
	float: left;
	height: 45px;
	line-height: 45px;
}
.nav .content ul li a {
	font-size: 16px;
	color: #000;
	margin-right: 52px;
}
.nav .content ul li:first-child a {
	margin-left: 41px;
}