/*指定当前css文件，编码格式是utf-8*/

@charset "UTF-8";
ul {
    list-style: none;
    margin: 0 auto;
    width: 700px;
}

li {
    float: left;
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: darkslategray;
    margin-left: 20px;
}